:root {
  /*colors*/
  --color-primary: #f76c5e;
  --color-primary-highlight : #f68e5f;
  --color-font-base: #071f47;
  --color-font-base-highlight: #547aa5;
  --color-font-inverted : #f5f5f5;
  --color-secundary: #324376;
  --color-secundary-highlight : #586ba4;
  /* brand colors*/
   --color-provincial-pink : #fff4f2;
  /*backgroud*/
  --background-primary: #f2f4f9;
  
  /*font-sizes*/
  --font-size-base : 10px;
  --font-size-sm : 2rem;
  --font-size-md : 2.5rem;
  --font-size-lg : 3.5rem;
  --font-size-xl : 4.2rem;
}

html,
body,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  font-family: 'Rubik', sans-serif;
  line-height:  1.25;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  font-family: 'Karla', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-base);
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}



td,
th {
  padding: 0;
}