@media (max-width : 600px  ) {
    .hero .container {
        max-width: 100%;
        padding: 15% 15%;
    }

    .hero {
        
        background: none;
        padding: 15% 5%;
    }

    
}

@media (max-width : 1200px) {
    .hero {
        
        background: none;
        padding: 15% 5%;
    }
}

@media (max-width : 380px) {
    .title span {
        color: var(--color-primary);
        
    }
}