@media (max-width : 600px  ) {

    .hero .container {
        max-width: 100%;
        padding: 15% 15%;
    }

    .hero {
        
        background: none;
        padding: 15% 5%;
    }

    .biography .container {
        max-width: 100%;
        flex-direction: column;
        padding: 5% 5%;
        justify-content:flex-start;
    }

    .biography .title {
        margin: 0.5em 0
    }
    
}

@media (max-width : 1200px) {
    .hero {
        
        background: none;
        padding: 15% 5%;
    }
}

@media (max-width : 380px) {
    :root {
        --font-size-base : 11.4px;
    }
    .title span {
        color: var(--color-primary);
        
    }
}